<button mat-raised-button (click)="stopPlay$.next()" >{{text$ | async}}</button>

<section class="history">
  <app-selector></app-selector>
  <app-table-history class="history__table" @fadeIn *ngFor="let history of historys$ | async; let i = index; trackBy: trackHistory"
    [data]="history">
  </app-table-history>
  <!-- <app-table-history @fadeIn *ngFor="let h of history;" [data]="h" class="history__table">
  </app-table-history> -->
</section>

<button mat-flat-button color="primary" (click)="textarea.value = generete()">
  Generete Sale
</button>

<textarea style="display: block; width: 100%;" rows="10" #textarea></textarea>
<pre>{{ sales | json }}</pre>
<pre>{{ name$ | async | json }}</pre>