<mat-sidenav-container>
  <mat-sidenav #drawer [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [autoFocus]="false">
    <!-- fixedInViewport  -->
    <!-- [fixedTopGap]="56" -->
    <!-- [mode]="'over'" -->
    <mat-toolbar>
      <ng-container *ngIf="user$ | async; let user">
        <mat-toolbar-row class="user">
          <img class="user__pic" src="{{user.photoURL}}" alt="user-pic">
          <div class="user__wrap">
            <span>{{user.displayName}}</span>
            <span class="mat-body">{{user.email}}</span>
          </div>
        </mat-toolbar-row>
      </ng-container>
    </mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let link of links" mat-list-item routerLinkActive="active" routerLink="{{ link.patch }}"
        (click)="drawer.mode === 'over' ? drawer.close() : ''">{{ link.name }}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content #contentRef>
    <mat-toolbar class="mat-elevation-z6" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button *ngIf="isHandset$ | async"
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">iw</span>
      <button class="btn-icon" mat-icon-button [matMenuTriggerFor]="format_color_fill">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <mat-toolbar>
      <span>{{ title }}</span>
    </mat-toolbar>
    <ng-container *ngIf="!(loading$ | async); else loading">
      <ng-container *ngIf="!(error$ | async); else retry">
        <div class="mat-typography container-page" [@routeAnimations]="prepareRoute(outlet)">
          <router-outlet #outlet="outlet"></router-outlet>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #loading>
      <p>
        Loading...
      </p>
    </ng-template>
    <ng-template #retry>
      <div class="center-page">
        <h1 class="text-accent">Ошибка загрузки данный</h1>
        <!-- <button type="button" mat-button (click)="getSales()">
          Повторить
        </button> -->
      </div>
    </ng-template>
    <!--  -->
  </mat-sidenav-content>
</mat-sidenav-container>


<mat-menu #format_color_fill [xPosition]="'before'">
  <!--start THEME -->
  <mat-checkbox [formControl]="isDarkOrLight" class="mat-menu-item">
    Темная тема
  </mat-checkbox>
  <div class="circle-wrap">
    <div (click)="setIndigoTheme()">
      <div class="circle bg-default">
        <mat-icon *ngIf="defTheme$ | async">check_circle</mat-icon>
      </div>
    </div>
    <div (click)="setGreenTheme()">
      <div class="circle bg-green">
        <mat-icon  *ngIf="greenTheme$ | async">check_circle</mat-icon>
      </div>
    </div>
    <div (click)="setDeepPurpleTheme()">
      <div class="circle bg-purple" >
        <mat-icon  *ngIf="purpleTheme$ | async">check_circle</mat-icon>
      </div>
    </div>
    <div (click)="setPinkTheme()">
      <div class="circle bg-pink">
        <mat-icon  *ngIf="pinkTheme$ | async">check_circle</mat-icon>
      </div>
    </div>
  </div>
  <!--end THEME -->
</mat-menu>

<mat-menu [xPosition]="'before'" #menu="matMenu">
  <!-- start Authorization -->
  <button (click)="signOut()" mat-menu-item>Выйти</button>
  <!-- end  Authorization -->
</mat-menu>